<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

      <!-- images -->
      <link href="images/favicon.png" rel="icon">
      <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
  
      <!-- google font -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
      <!-- css -->
      <link href="css/all.min.css" rel="stylesheet">
      <link href="css/aos.css" rel="stylesheet">
      <link href="css/animate.min.css" rel="stylesheet">
      <link href="css/bootstrap.min.css" rel="stylesheet">
      <link href="css/bootstrap-icons.css" rel="stylesheet">
      <link href="css/boxicons.min.css" rel="stylesheet">
      <link href="css/glightbox.min.css" rel="stylesheet">
      <link href="css/swiper-bundle.min.css" rel="stylesheet">
      <link rel="stylesheet" href="css/style.css">
 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
 
 <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
 <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 
 <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
<body>
    <main id="main">
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>About Us</h2>
                <p>In today's world, people are very busy in their professional career due to which they are unable to take proper care of elders. We have advanced so much in every existing field but still there are no appropriate facilities available for elderly people.</p>
              </div>
      
              <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                  <img src="images/about1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                  <h3>Our aim is to build a platform where elderly people are encouraged and enabled to age productively and with dignity.
                  </h3>
                  <br>
                  <p class="fst-italic">
                    Goals:
                  </p>
                  <ul>
                    <li><i class="fas fa-check-circle"></i> Maintaining good health of seniors.</li>
                    <li><i class="fas fa-check-circle"></i> Providing the best facilities.</li>
                    <li><i class="fas fa-check-circle"></i> Improving the quality of life.</li>
                  </ul>
                  <p>
                    The mission of our project is to constantly strive to be a leader in long term care, enhancing the quality of life of elders through innovative and comprehensive care.
                  </p>
                </div>
              </div>
      
            </div>
          </section>
    </main>
    <script src="js/aos.js"></script>
    <script src="js/purecounter_vanilla.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/validate.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>