<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

              <!-- images -->
              <link href="images/favicon.png" rel="icon">
              <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
          
              <!-- google font -->
              <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
          
              <!-- css -->
              <link href="css/all.min.css" rel="stylesheet">
              <link href="css/aos.css" rel="stylesheet">
              <link href="css/animate.min.css" rel="stylesheet">
              <link href="css/bootstrap.min.css" rel="stylesheet">
              <link href="css/bootstrap-icons.css" rel="stylesheet">
              <link href="css/boxicons.min.css" rel="stylesheet">
              <link href="css/glightbox.min.css" rel="stylesheet">
              <link href="css/swiper-bundle.min.css" rel="stylesheet">
              <link rel="stylesheet" href="css/style.css">
         
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <section id="doctors" class="doctors section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Caregivers</h2>
            <p>Our team of qualified and experienced employees.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="images/doctors/employee1.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Deepak Shah</h4>
                  <!-- <span>Chief Medical Officer</span> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="images/doctors/employee4.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Sneha Thakur</h4>
                  <!-- <span>Anesthesiologist</span> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="images/doctors/employee2.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Rahul Gupta</h4>
                  <!-- <span>Cardiology</span> -->
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="400">
                <div class="member-img">
                  <img src="images/doctors/employee5.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Ananya Varma</h4>
                  <!-- <span>Neurosurgeon</span> -->
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>    

      <script src="js/aos.js"></script>
      <script src="js/purecounter_vanilla.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/glightbox.min.js"></script>
      <script src="js/validate.js"></script>
      <script src="js/swiper-bundle.min.js"></script>
      <script src="js/main.js"></script>
</body>
</html>