<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <!-- images -->
        <link href="images/favicon.png" rel="icon">
        <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    
        <!-- google font -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
        <!-- css -->
        <link href="css/all.min.css" rel="stylesheet">
        <link href="css/aos.css" rel="stylesheet">
        <link href="css/animate.min.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-icons.css" rel="stylesheet">
        <link href="css/boxicons.min.css" rel="stylesheet">
        <link href="css/glightbox.min.css" rel="stylesheet">
        <link href="css/swiper-bundle.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <main id="main">
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
    
          <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
    
          <div class="carousel-inner" role="listbox">
    
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(images/slide/slide6.jpg)">
              <div class="container">
                <h2>Welcome to <span>AgeCare</span></h2>
                <p>Let's enrich the lives of siniors with kindness and joy!</p>
                <a href="#about"  class="btn-get-started scrollto" > Read More</a>
              </div>
            </div>
    
            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(images/slide/slide3.jpg)">
              <div class="container">
                <h2>You can't always be there. But we can.</h2>
                <p>We are always present to serve you. We are always just a click away😃</p>
                <a href="#about" class="btn-get-started scrollto">Read More</a>
              </div>
            </div>
    
            <!-- Slide 3 -->
            <div class="carousel-item" style="background-image: url(images/slide/slide4.jpg)">
              <div class="container">
                <h2>We give elderly people the love they deserve.</h2>
                <p>Don't have time to take care of your parents? Age Care always does.</p>
                <a href="#about" class="btn-get-started scrollto">Read More</a>
              </div>
            </div>
    
          </div>
    
          <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
          </a>
    
          <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
          </a>
    
        </div>
      </section>

  <script src="js/aos.js"></script>
  <script src="js/purecounter_vanilla.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/glightbox.min.js"></script>
  <script src="js/validate.js"></script>
  <script src="js/swiper-bundle.min.js"></script>
  <script src="js/main.js"></script>
</main>
</body>
</html>