<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <!-- images -->
     <link href="images/favicon.png" rel="icon">
     <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
 
     <!-- google font -->
     <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
 
     <!-- css -->
     <link href="css/all.min.css" rel="stylesheet">
     <link href="css/aos.css" rel="stylesheet">
     <link href="css/animate.min.css" rel="stylesheet">
     <link href="css/bootstrap.min.css" rel="stylesheet">
     <link href="css/bootstrap-icons.css" rel="stylesheet">
     <link href="css/boxicons.min.css" rel="stylesheet">
     <link href="css/glightbox.min.css" rel="stylesheet">
     <link href="css/swiper-bundle.min.css" rel="stylesheet">
     <link rel="stylesheet" href="css/style.css">

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>


</head>
<body>
    <main id="main">
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">
      
              <div class="row no-gutters">
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="fas fa-user-md"></i>
                    <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
      
                    <p>Number of <strong>Doctors</strong> connected with us.</p>
                    <a href="#">Find out more &raquo;</a>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="far fa-hospital"></i>
                    <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Number of <strong>Caregivers</strong> in our team.</p>
                    <a href="#">Find out more &raquo;</a>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="fas fa-flask"></i>
                    <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Number of <strong>Seniors/Elders</strong> who use our services.</p>
                    <a href="#">Find out more &raquo;</a>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="fas fa-award"></i>
                    <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Number of <strong>Events/Seminars</strong> we have conducted till now.</p>
                    <a href="#">Find out more &raquo;</a>
                  </div>
                </div>
      
              </div>
      
            </div>
          </section>
    </main>

    <script src="js/aos.js"></script>
    <script src="js/purecounter_vanilla.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/validate.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>