<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

                  <!-- images -->
                  <link href="images/favicon.png" rel="icon">
                  <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
              
                  <!-- google font -->
                  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
              
                  <!-- css -->
                  <link href="css/all.min.css" rel="stylesheet">
                  <link href="css/aos.css" rel="stylesheet">
                  <link href="css/animate.min.css" rel="stylesheet">
                  <link href="css/bootstrap.min.css" rel="stylesheet">
                  <link href="css/bootstrap-icons.css" rel="stylesheet">
                  <link href="css/boxicons.min.css" rel="stylesheet">
                  <link href="css/glightbox.min.css" rel="stylesheet">
                  <link href="css/swiper-bundle.min.css" rel="stylesheet">
                  <link rel="stylesheet" href="css/style.css">
             
                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <main id="main">
        <section id="gallery" class="gallery">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>Gallery</h2>
                <p>View the heartwarming moments captured by our team during events and seminars.</p>
              </div>
      
              <div class="gallery-slider swiper">
                <div class="swiper-wrapper align-items-center">
                  <div class="swiper-slide"><a class="gallery-lightbox" href="images/gallery/gallery1.jpg"><img src="images/gallery/gallery1.jpg" class="img-fluid" alt=""></a></div>
                  <div class="swiper-slide"><a class="gallery-lightbox" href="images/gallery/gallery2.jpg"><img src="images/gallery/gallery2.jpg" class="img-fluid" alt=""></a></div>
                  <div class="swiper-slide"><a class="gallery-lightbox" href="images/gallery/gallery3.jpg"><img src="images/gallery/gallery3.jpg" class="img-fluid" alt=""></a></div>
                  <div class="swiper-slide"><a class="gallery-lightbox" href="images/gallery/gallery4.jpg"><img src="images/gallery/gallery4.jpg" class="img-fluid" alt=""></a></div>
                  <div class="swiper-slide"><a class="gallery-lightbox" href="images/gallery/gallery5.jpg"><img src="images/gallery/gallery5.jpg" class="img-fluid" alt=""></a></div>
                  <div class="swiper-slide"><a class="gallery-lightbox" href="images/gallery/gallery6.jpg"><img src="images/gallery/gallery6.jpg" class="img-fluid" alt=""></a></div>
                  <!-- <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-7.jpg"><img src="assets/img/gallery/gallery-7.jpg" class="img-fluid" alt=""></a></div>
                  <div class="swiper-slide"><a class="gallery-lightbox" href="assets/img/gallery/gallery-8.jpg"><img src="assets/img/gallery/gallery-8.jpg" class="img-fluid" alt=""></a></div> -->
                </div>
                <div class="swiper-pagination"></div>
              </div>
      
            </div>
          </section>
    </main>

    <script src="js/aos.js"></script>
    <script src="js/purecounter_vanilla.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/validate.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>