<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- images -->
    <link href="images/favicon.png" rel="icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- css -->
    <link href="css/all.min.css" rel="stylesheet">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">
    <link href="css/boxicons.min.css" rel="stylesheet">
    <link href="css/glightbox.min.css" rel="stylesheet">
    <link href="css/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <!-- <link rel="stylesheet" href="../../public/vendor/animate.css/animate.min.css"> -->

</head>
<body>
  <!-- <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      
      <a href="#" class="logo me-auto"><img src="images/logo1.png" alt=""><span style="color: #444444;"> Assisto</span></a>
     
      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          
          <li><a class="nav-link scrollto" href="#doctors">Caregivers</a></li>
          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="fa-solid fa-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="fa-solid fa-chevron-down"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                      <li><a href="#">Deep Drop Down 2</a></li>
                      <li><a href="#">Deep Drop Down 3</a></li>
                      <li><a href="#">Deep Drop Down 4</a></li>
                      <li><a href="#">Deep Drop Down 5</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Drop Down 2</a></li>
                  <li><a href="#">Drop Down 3</a></li>
                  <li><a href="#">Drop Down 4</a></li>
                </ul>
              </li>
              <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
    
          <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Book a</span> Caregiver</a>
          <a href="/r" class="appointment-btn scrollto"><span class="d-none d-md-inline">Sign-up / Login</span></a>
            
          
        </div>
      </header> -->



      <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">
          
          <a href="#" class="logo me-auto"><img src="images/logo.png" alt=""><span style="color: #444444;"> AgeCare</span></a>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->
          
          <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
              
              <li><a class="nav-link scrollto " href="#hero">Home</a></li>
              <li><a class="nav-link scrollto" href="#about">About</a></li>
              <li><a class="nav-link scrollto" href="#services">Services</a></li>
              <li><a class="nav-link scrollto" href="http://localhost:8000/about">New About</a></li>
              <li>hi</li>
              <!-- <li><a class="nav-link scrollto" href="#departments">Departments</a></li> -->
              <li><a class="nav-link scrollto" href="/caretakers">Caregivers</a></li>
              <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="fa-solid fa-chevron-down"></i></a>
                <ul>
                  <li><a href="/userProfile">Profile</a></li>
                  <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="fa-solid fa-chevron-down"></i></a>
                    <ul>
                      <li><a href="/userProfile">Profile</a></li>
                      <li><a href="/admin">Admin</a></li>
                          <li><a href="#">Deep Drop Down 3</a></li>
                          <li><a href="#">Deep Drop Down 4</a></li>
                          <li><a href="#">Deep Drop Down 5</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Drop Down 2</a></li>
                      <li><a href="#">Drop Down 3</a></li>
                      <li><a href="#">Drop Down 4</a></li>
                    </ul>
                  </li>
                  <li><a class="nav-link scrollto" href="/prime">Prime</a></li>
                  <span style="color: red;"><%= (typeof msg != "undefined" ? msg : "") %></span>
                  <!-- <li>hi <%= (typeof names != "undefined" ? names : "") %></li> -->
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
              </nav><!-- .navbar -->
        
              <!-- <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Book a</span> Caregiver</a> -->
              <a href="/logout" class="appointment-btn scrollto"><span class="d-none d-md-inline">Logout</span></a>
              <a href="/register" class="appointment-btn scrollto"><span class="d-none d-md-inline">Sign-up / Login</span></a>
              <p class="welcome"></p>
              
            </div>
            <span style="font-weight: bolder; position: relative; left: 935px;">Welcome <%= (typeof name != "undefined" ? name : "") %></span>  
          </header> 
</body>
</html>
