<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

                      <!-- images -->
                      <link href="images/favicon.png" rel="icon">
                      <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
                  
                      <!-- google font -->
                      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
                  
                      <!-- css -->
                      <link href="css/all.min.css" rel="stylesheet">
                      <link href="css/aos.css" rel="stylesheet">
                      <link href="css/animate.min.css" rel="stylesheet">
                      <link href="css/bootstrap.min.css" rel="stylesheet">
                      <link href="css/bootstrap-icons.css" rel="stylesheet">
                      <link href="css/boxicons.min.css" rel="stylesheet">
                      <link href="css/glightbox.min.css" rel="stylesheet">
                      <link href="css/swiper-bundle.min.css" rel="stylesheet">
                      <link rel="stylesheet" href="css/style.css">
                 
                      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <main id="main">
        <section id="pricing" class="pricing">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>Pricing</h2>
                <p>Subscribe to the package that is best suitable to your requirements.</p>
              </div>
      
              <div class="row">
      
                <div class="col-lg-3 col-md-6">
                  <div class="box" data-aos="fade-up" data-aos-delay="100">
                    <h3>Bronze</h3>
                    <h4><sup>₹</sup>3500<span> / year</span></h4>
                    <ul>
                      <li>Health Checkups</li>
                      <li class="na">Events/Seminars</li>
                      <li class="na">Tutorials/Videos</li>
                      <li class="na">Pickup/Drop Service</li>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
                  <div class="box" data-aos="fade-up" data-aos-delay="200">
                    <h3>Silver</h3>
                    <h4><sup>₹</sup>5000<span> / year</span></h4>
                    <ul>
                      <li class="na">Health Checkups</li>
                      <li>Events/Seminars</li>
                      <li class="na">Tutorials/Videos</li>
                      <li>Pickup/Drop Service</li>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                  <div class="box" data-aos="fade-up" data-aos-delay="300">
                    <h3>Gold</h3>
                    <h4><sup>₹</sup>6000<span> / year</span></h4>
                    <ul>
                      <li>Health Checkups</li>
                      <li>Events/Seminars</li>
                      <li>Tutorials/Videos</li>
                      <li class="na">Pickup/Drop Service</li>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                  <div class="box" data-aos="fade-up" data-aos-delay="400">
                    <span class="advanced">Ultimate</span>
                    <h3>Platinum</h3>
                    <h4><sup>₹</sup>7500<span> / year</span></h4>
                    <ul>
                      <li>Health Checkups</li>
                      <li>Events/Seminars</li>
                      <li>Tutorials/Videos</li>
                      <li>Pickup/Drop Service</li>
                    </ul>
                    <div class="btn-wrap">
                      <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                  </div>
                </div>
      
              </div>
      
            </div>
          </section>
    </main>


    <script src="js/aos.js"></script>
    <script src="js/purecounter_vanilla.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/validate.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>

</body>
</html>