<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

          <!-- images -->
          <link href="images/favicon.png" rel="icon">
          <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
      
          <!-- google font -->
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      
          <!-- css -->
          <link href="css/all.min.css" rel="stylesheet">
          <link href="css/aos.css" rel="stylesheet">
          <link href="css/animate.min.css" rel="stylesheet">
          <link href="css/bootstrap.min.css" rel="stylesheet">
          <link href="css/bootstrap-icons.css" rel="stylesheet">
          <link href="css/boxicons.min.css" rel="stylesheet">
          <link href="css/glightbox.min.css" rel="stylesheet">
          <link href="css/swiper-bundle.min.css" rel="stylesheet">
          <link rel="stylesheet" href="css/style.css">
     
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <main id="main">
        <section id="services" class="services services">
            <div class="container" data-aos="fade-up">
      
              <div class="section-title">
                <h2>Services</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
              </div>
      
              <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i class="fas fa-heartbeat"></i></div>
                  <h4 class="title"><a href="">Caregivers/Nurses</a></h4>
                  <p class="description">These professionals will look after the needs of seniors for the amount of time you have booked him/her.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon"><i class="fas fa-pills"></i></div>
                  <h4 class="title"><a href="">Health Checkups</a></h4>
                  <p class="description">The checkups will be performed by verified doctors which will be conducted quarterly.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i class="fas fa-dna"></i></div>
                  <h4 class="title"><a href="">Events</a></h4>
                  <p class="description">These events will entertain seniors and uplift their social life.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon"><i class="fas fa-wheelchair"></i></div>
                  <h4 class="title"><a href="">Tutorials/Videos</a></h4>
                  <p class="description">These tutorials will educate the elderly about how to use the basic technology.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon"><i class="fas fa-notes-medical"></i></div>
                  <h4 class="title"><a href="">Pickup/Drop</a></h4>
                  <p class="description">Vehicle escort is provided to subscribed users for events & seminars.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon"><i class="fas fa-hospital-user"></i></div>
                  <h4 class="title"><a href="">Caregiver Jobs</a></h4>
                  <p class="description">Employment opportunities are provided to people who wants to join our team and help us in our mission.</p>
                </div>
              </div>
      
            </div>
          </section>
    </main>

    <script src="js/aos.js"></script>
    <script src="js/purecounter_vanilla.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/glightbox.min.js"></script>
    <script src="js/validate.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>